東大統計学入門/Chapter1/data/900438959.xls
東大統計学入門/Chapter1/data/co2_annmean_mlo.txt
東大統計学入門/Chapter1/data/FEH_00200524_221218142656.csv
東大統計学入門/Chapter1/data/g0501_02.xlsx
東大統計学入門/Chapter1/data/summary_by_date.csv
